*, html, body {
    margin:0;
    padding:0;
}
html{
    padding-bottom:30px;
}
body{
    font-family:Arial, sans-serif , DejaVuSans;
    font-size:12px;
    color:#66696C;
    line-height:18px;
    width:100%;
    min-width:1000px;
    background-color:#FFF;
}

/***********************************************************/
#main-nav {
    margin-left: 1px;
}
#main-nav.nav-tabs.nav-stacked > li > a {
    padding: 10px 8px;
    font-size: 12px;
    font-weight: 600;
    color: #4A515B;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #D5D5D5;
    border-radius: 4px;
}
#main-nav.nav-tabs.nav-stacked > li > a > span {
    color: #4A515B;
}
#main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
    color: #FFF;
    background: #3C4049;
    background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A515B), color-stop(100%,#3C4049));
    background: -webkit-linear-gradient(top, #4A515B 0%,#3C4049 100%);
    background: -o-linear-gradient(top, #4A515B 0%,#3C4049 100%);
    background: -ms-linear-gradient(top, #4A515B 0%,#3C4049 100%);
    background: linear-gradient(top, #4A515B 0%,#3C4049 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
    border-color: #2B2E33;
}
#main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
    color: #FFF;
}
#main-nav.nav-tabs.nav-stacked > li {
    margin-bottom: 4px;
}
/*定义二级菜单样式*/
.secondmenu a {
    font-size: 10px;
    color: #4A515B;
    text-align: center;
}
.navbar-static-top {
    background-color: #212121;
    margin-bottom: 5px;
}
.navbar-brand {
    background: url('') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
}
/*表格样式*/
#vitals{
    float: ;
    width: 415px;
    margin: 10px 10px 10px 10px;
    padding: 1px;
    border: 1px solid #5A7E8A
}

h2{
    padding: 5px 10px;
    font-family: "trebuchet ms";
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.0em;
    text-transform: uppercase;
    color:#fff;
    background: #2971A7;
}
/*****************************datatable的样式************************************************/
table {
    width: 100%;
    line-height: 25px
}
table thead{
    background-color: #DFEFFC url(image/ui-bg_glass_85_dfeffc_1x400.png) repeat-x scroll 50% 50%
}
table caption{
    padding-left:15px;
    font-weight:bold;
    font-size:14px;
    text-align:left;
    background:#DFEFFC url(image/ui-bg_glass_85_dfeffc_1x400.png) repeat-x scroll 50% 50%;
}
tr{
    font-size:12px;
    text-align:left;
}
td,th{
    padding-left:15px;
    padding-right:10px;
}
td,table.datatable th{
    border:1px solid #DFEFFC;
}
table.datatable td{
    word-break:break-all;
}
td.err{
    color:#FF0000;
}
table.details td{
    border:0;
}
table.datatable{
    border-top:0;
    border-bottom:0;
}
#log select{
    width:60px;
}
#log tr td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul li{
    list-style-type:none;
    font-size:12px;
    color:#66696C; 
}
.fa1{
    display: inline-block;
    top: 0px;
    left: 210px;
    position: relative;
    color: #ccc;
}
.fa2{
    display: inline-block;
    top: 0px;
    left: 184px;
    position: relative;
    color: #ccc;
}
.fa3{
    display: inline-block;
    top: 0px;
    left: 198px;
    position: relative;
    color: #ccc;
}
input[type="text"], input[type="password"], input[type="email"]{
    margin: 10px 0 0 0px;
    width: 300px;
}
.star{
    color: red
}
.oper{
    background-color:#A6C9E2;
    border-radius:5px;
    margin-top:10px;
    margin-bottom:1px;
}
label {
    margin-left: 30px;
}
form input{
    width:200px;margin:-30px 0 0 100px;border-radius:5px;
}
/*************toolbar操作栏的样式************************/
#toolbar ul li{
    position:relative;
    float: left;
    display: inline;
}
#toolbar ul li ul{
    position:absolute;
    top:34px;
}
#toolbar ul li ul{
    position:absolute;
    top:34px;
    left:0;
    display: none;
    width:170px;
    background-color:#DFEFFC;
    padding-bottom:5px;
    margin-top:-1px;
    z-index:1004;
}
#toolbar ul li ul li{
    width:100%;
}
#toolbar ul li ul li a{
    display:inline-block;
    padding:5px 0 5px 15px;
    color: #2E6E9E;
}
#toolbar ul li ul li a:hover{
    text-decoration:underline;
}
#toolbar .toolbar-menu{
    float: left;
    display: block;
    height: 31px;
    margin: 1px 6px;
    padding-left: 9px;
    color: #2E6E9E;
    font-weight:bold;
}
.toolbar-menu-span{
    display: block;
    line-height: 31px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
}
.toolbar-menu:hover span,.ui-cust-button:hover span{
    text-decoration:underline;
}
/*****/
#service_auth_head{
    clear: both;
}
#service_auth_head_1, #service_auth_head_2{
    height: 20px;
    display: inline-block;
    text-align: left;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 4px 2px;
    background: url(../image/ui-bg_glass_75_d0e5f5_1x400.png) repeat-x scroll 50% 50%;
}
#service_auth_head_1{
    width: 340px;
}
#service_auth_head_2{
    width: 490px;
}