<style>
    .fa1{
    display: inline-block;
    top: 5px;
    left: -42px;
    position: relative;
    color: #ccc;
}
input[type="text"]{
    padding-left: 25px;
    width: 200px;
    height: 30px;
    margin: -18px 0 0 -50px;
}
li{
    list-style-type:none;
}
</style>
<div class="alert alert-info">信息！带*的为必填项！</div>
<form role="form">
    <div class="form-group">
        <label id="name" class="col-sm-2 control-label">名称</label>
        <div class="col-sm-10">
            <i class="fa1 fa fa-user fa-lg"></i>
            <input type="text" class="form-control" id="name" placeholder="请输入名称">
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label id="name" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <i class="fa1 fa fa-lock fa-lg"></i>
            <input type="text" class="form-control" id="name" placeholder="请输入密码">
        </div>
    </div>
    <br />
    <div class="form-group">
        <label id="name" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <i class="fa1 fa fa-lock fa-lg"></i>
            <input type="text" class="form-control" id="name" placeholder="请输入密码">
        </div>
    </div>
    <br />
    <div class="form-group">
        <label id="name" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
            <i class="fa1 fa fa-envelope fa-lg"></i>
            <input type="text" class="form-control" id="name" placeholder="请输入邮箱">
        </div>
    </div>
</form>