$def with (content)

<html>
    <head>
        <meta charset='UTF-8'/>
        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    </head>
    <tbody>
        <table id="table_1234" border>
            <thead>
                <tr>
                    <td>qwer</td>
                    <td>asdf</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                   <td>$content['q']</td>
                   <td>$content['w']</td>
                </tr>
            </tbody>
        </table>
    </tbody>
    <br />
    <button type="button" onclick="logout()">Logout</button>
</html>
<script type='javascript/text'>
function logout(){
    alert("11111")
}
</script>