$def with(content)

<div id="main">
</div>


<script type="text/javascript">
    getdiskinfoa()
    function getdiskinfoa(){
        var url = "/getdiskinfoa?" + new Date().getTime();
        $$.ajax({
            url : url,
            data: '',
            async: false,
            dataType: 'json',
            beforeSend: function(){
                custLoading("正在加载数据...");
            },
            success:function(text){
                $$('#loaddialog').dialog('close');
                createcharts(text)
            },
            error:function(){
                $$('#loaddialog').dialog('close');
                custAlert("操作失败", "获得系统信息失败！")
            }
        });
    }
    function createcharts(info){
        for(var i=0; i < info.length; i++){
            var id = "main_" + info[i]['id']
            var boarddiv = '<div id="'+  id + '" style="width: 360px;height: 280px;border:1px solid #A6C9E2;"></div>'
            $$("#main").append(boarddiv)
            getdiskinfob(info[i], id)
        }
    }
    function getdiskinfob(info, id){
        var myChart = echarts.init(document.getElementById(id));
        var namestr = info['id'] + " (" + info['total'] + info['unit'] + ")"
        var myOption = {
            title : {
                text: namestr,
                subtext: '使用率',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            color:['pink','lightskyblue'],
            legend: {
                orient : 'vertical',
                x : 'left',
                data:['已使用大小', '空闲大小']
            },
            calculable : true,
            series : [
                {
                    name:'大小比例',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    // 设置标题直接带百分比
                    itemStyle: {
                        normal:{
                            label:{
                                show: true,
                                formatter: '{b}:({d}%)'
                            },
                            labelLine :{show:true}
                        }
                    },
                    // 设置字体
                    label:{
                        normal:{
                            textStyle : {
                                fontWeight : 'bold',
                                fontSize : 10
                            }
                        }
                    },
                    data:[
                        {value: info['used'], name:'已使用大小'},
                        {value: info['free'], name:'空闲大小'}
                    ]
                }
            ]
        };

        myChart.setOption(myOption);
    }
</script>