<html>
    <head>
        <script type="text/javascript">
            $(ELT)(function () {
                $(ELT)(".icon-picker").iconPicker();
            });
        </script>
        <style type="text/css">
            #wraper{position:absolute;width:400px; left:50%;margin-left: -200px;top:100px;}
            input{padding-bottom: 30px;}
        </style>
    </head>
    <body>
        <div id="wraper">
            <form method="post">
                <span>$_("search icon")</span>
                <input type="text" name="someName" class="icon-picker" />
            </form>
        </div>
    </body>
</html>