$def with(content)

<nav class="navbar navbar-default-nav oper">
    <div class="navbar-header">
        <span class="navbar-brand fa fa-user fa-lg">Logo</span>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle fa fa-cog fa-lg" data-toggle="dropdown">
                    $_('operation of table')
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="fa fa-refresh fa-lg" href="javascript:get_movie()")>&nbsp; $_('refresh')</a></li>
                    <li class="divider"></li>
                    <li><a class="fa fa-refresh fa-lg" href="javascript:get_excel()")>&nbsp; $_('export')</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<table id="movie_table">
    <thead>
        <!--th style="width:10%"><input type="checkbox" onClick="check_all(this)"></th-->
        <th>$_('index')</th>
        <th>$_('movie name')</th>
        <th>$_('movie info')</th>
        <th>$_('grade')</th>
        <th>$_('number')</th>
        <th>$_('describe')</th>
    </thead>
    <tbody>
        $for sub in content:
            <tr>
                <!--td><input type="checkbox" class="oper"></td-->
                <td>$sub['index']</td>
                <td>$sub['movie_name']</td>
                <td>$sub['other']</td>
                <td>$sub['grade']</td>
                <td>$sub['number']</td>
                <td>$sub['describe']</td>
            </tr>
    </tbody>
</table>
<script>
    $(ELT)(function(){
        $(ELT)("#movie_table").DataTable({
            "bSort": true,
            "bStateSave": true,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sUrl": "/static/js/temp/datatable_ZH"
            },
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [0, 2]
            }]
        });
    });
    function check_num(obj){
        var selectObj = $(ELT)(obj);
        if(selectObj.attr("checked")){
            selectObj.parent().parent().addClass('selected');
        }else{
            selectObj.parent().parent().removeClass('selected');
        }
    }
    function check_all(this_table){
        var tableObj = $(ELT)("#log_table").DataTable();
        var rowObj = tableObj.rows().nodes();
        for(var i = 0;i < rowObj.length;i++){
            var nodeObj = $(ELT)(rowObj[i]);
            var statusObj = nodeObj.find('.oper');
            if(this_table.checked){
                nodeObj.addClass('selected');
                statusObj.attr("checked", true);
            }else{
                nodeObj.removeClass('selected');
                statusObj.attr("checked", false);
            }
        }
    }
    function get_excel(){
        var url = "/moviedownload?" + new Date().getTime();
        var buttons = {
            "$_('cancel')": function(){
                $(ELT)(this).dialog('close');
            },
            "$_('download')": function(){
                $(ELT)(this).dialog('close');
                $(ELT).ajax({
                    url: url,
                    type: 'POST',
                    data: '',
                    dataType: 'text',
                    beforeSend: function(){
                        custLoading("$_('loading data ...')");
                    },
                    success:function(text){
                        $(ELT)('#loaddialog').dialog('close');
                        downloadfile(url);
                    },
                    error:function(){
                        $(ELT)('#loaddialog').dialog('close');
                        custAlert("$_('operfail')", "$_('failed to get movie information')")                        
                    }       
                });
            }
        };
        custConfirm("$_('confirmoper')", "12345", buttons);
    }
    function downloadfile(url){
        try{
            var elemIF = document.createElement("iframe");
            elemIF.src = url;
            elemIF.style.display = "none";
            document.body.appendChild(elemIF);
        }catch(e){
            custAlert("$_('operfail')","$_('operfailinfo')");
        }    
    }
</script>