$def with(content)

<br /><br />
<div id="baseinfo" align="center">
    <div id="vitals" style="width:500px">
        <h2><span>操作列表</span></h2>    
        <table class="stripMe" id="vitelsTable" cellpadding="0">        
            <tr>
                <td>播放</td>
                <td><button class="fa fa-play-circle fa-2x" onclick="play_music('play')"></button></td>
            </tr>
            <tr>
                <td>暂停</td>
                <td><button class="fa fa-pause-circle fa-2x" onclick="play_music('pause')"></button></td>
            </tr>
            <tr>
                <td>开始</td>
                <td><button class="glyphicon glyphicon-play-circle" onclick="play_music('unpause')"></button></td>
            </tr>
            <tr>
                <td>停止</td>
                <td><button class="fa fa-stop-circle fa-2x" onclick="play_music('stop')"></button></td>
            </tr>
        </table>
    </div>
</div>

<table id="music_table">
    <thead>
        <th style="width:10%"><input type="checkbox" onchange="check_all(this)"></th>
        <th style="width:70%">文件路径</th>
        <th style="width:20%">操作</th>
    </thead>
    <tbody>
        $for info in content:
            <tr>
                <td><input type="checkbox" class="oper"></td>
                <td class="name" value="$info" title="$info">$info</td>
                <td>
                    <button onclick="play_music('play', '$info')"><i class="fa fa-play-circle fa-2x" title="播放"></i></button>
                </td>
            </tr>
    </tbody>
</table>
<script>
    $(ELT)(function(){
        $(ELT)("#music_table").DataTable({
            "bSort": true,
            "bStateSave": true,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sUrl": "/static/js/temp/datatable_ZH"
            },
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [0, 2]
            }]
        });
    });
    function check_num(obj){
        var selectObj = $(ELT)(obj);
        if(selectObj.attr("checked")){
            selectObj.parent().parent().addClass('selected');
        }else{
            selectObj.parent().parent().removeClass('selected');
        }
    }
    function check_all(this_table){
        var tableObj = $(ELT)("#music_table").DataTable();
        var nodeObj = tableObj.rows().nodes();
        for(var i = 0;i < nodeObj.length;i++){
            var rowObj = $(ELT)(nodeObj[i]);
            var statusObj = rowObj.find('.oper');
            if(this_table.checked){
                rowObj.addClass('selected');
                statusObj.prop("checked", true);
            }else{
                rowObj.removeClass('selected');
                statusObj.prop("checked", false);
            }
        }
    }
    function play_music(flag, musicname){
        var url = "/playmusic?" + new Date().getTime();
        $(ELT).ajax({
            url : url,
            type : 'POST',
            async: false,
            data: "flag=" + flag + "&musicname=" + musicname,
            dataType : 'text',
            success:function(text){
                if(text == 0){
                    custAlert("操作成功", "播放音乐成功！");
                }else{
                    custAlert("操作失败", "播放音乐失败！");
                }
            },
            error:function(){
                custAlert("操作失败", "播放音乐失败！");
            }
        });
    }
</script>