$def with(content)

<nav class="navbar navbar-default-nav oper">
    <div class="navbar-header">
        <span class="navbar-brand fa fa-user fa-lg">Logo</span>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle fa fa-cog fa-lg" data-toggle="dropdown">
                    $_('operation of user')
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="fa fa-plus fa-lg" href="javascript:add_user()">&nbsp; $_('create')</a></li>
                    <li class="divider"></li>
                    <li><a class="fa fa-trash fa-lg" href="javascript:delete_user()">&nbsp; $_('delete')</a></li>
                    <li class="divider"></li>
                    <li><a class="fa fa-refresh fa-lg" href="javascript:get_right_content('/getuser')")>&nbsp; $_('refresh')</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<table id="user_table">
    <thead>
        <th style="width:0%"><input type="checkbox" onchange="check_all(this)"></th>
        <th style="width:0%">车次</th>
        <th style="width:0%">车站</th>
        <th style="width:0%">时间</th>
        <th style="width:0%">历时</th>
        <th style="width:0%">商务座</th>
        <th style="width:0%">一等座</th>
        <th style="width:0%">二等座</th>
        <th style="width:0%">高级软卧</th>
        <th style="width:0%">软卧</th>
        <th style="width:0%">动卧</th>
        <th style="width:0%">硬卧</th>
        <th style="width:0%">软座</th>
        <th style="width:0%">硬座</th>
        <th style="width:0%">无座</th>
    </thead>
    <tbody>
        $for info in content:
            <tr>
                <td><input type="checkbox" class="oper"></td>
                <td>$info['tra_cod']</td>
                <td>$info['sta_lea']</td>
                <td>$info['t_lea']</td>
                <td>$info['t_dur']</td>
                <td>$info['swz']</td>
                <td>$info['ydz']</td>
                <td>$info['edz']</td>
                <td>$info['gr']</td>
                <td>$info['rw']</td>
                <td>$info['dw']</td>
                <td>$info['yw']</td>
                <td>$info['rz']</td>
                <td>$info['yz']</td>
                <td>$info['wz']</td>
            </tr>
    </tbody>
</table>
<script type="text/javascript">
    $(ELT)(function(){
        $(ELT)("#user_table").DataTable({
            "bSort": true,
            "bStateSave": true,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sUrl": "/static/js/temp/datatable_ZH"
            },
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [0, 2]
            }]
        });
    });
    function check_num(obj){
        var selectObj = $(ELT)(obj);
        if(selectObj.attr("checked")){
            selectObj.parent().parent().addClass('selected');
        }else{
            selectObj.parent().parent().removeClass('selected');
        }
    }
    function check_all(this_table){
        var tableObj = $(ELT)("#user_table").DataTable();
        var nodeObj = tableObj.rows().nodes();
        for(var i = 0;i < nodeObj.length;i++){
            var rowObj = $(ELT)(nodeObj[i]);
            var statusObj = rowObj.find('.oper');
            if(this_table.checked){
                rowObj.addClass('selected');
                statusObj.prop("checked", true);
            }else{
                rowObj.removeClass('selected');
                statusObj.prop("checked", false);
            }
        }
    }
    function add_user(){
        var url = "/adduser?" + new Date().getTime();
        var adduser = $(ELT)('<div id="adduserdialog">').appendTo('body');
        adduser.dialog({
            bgiframe: true,
            modal: true,
            autoOpen:false,
            resizable:false,
            width:500,
            title:"$_('information')",
            open:function(){
                custLoading("$_('loading data ...')");
            },
            close:function(){
                $(ELT)(this).remove();
            },
            buttons:{
                "$_('cancel')": function(){
                    $(ELT)(this).remove();
                },
                "$_('create')": function() {
                    $(ELT)('#loaddialog').dialog('close');
                    $(ELT)("#add_user_form").bootstrapValidator('validate');
                    if($(ELT)("#add_user_form").data('bootstrapValidator').isValid()){
                        var dataobj = {
                            "username": $(ELT)("input[name='username']").val(),
                            "password": $(ELT)("input[name='passwd1']").val(),
                            "mail": $(ELT)("input[name='email']").val()
                        };
                        var data = $(ELT).param(dataobj, true)
                        var url = "/adduser?" + new Date().getTime();
                        $(ELT).ajax({
                            url: url,
                            type: 'POST',
                            data: data,
                            dataType: 'text',
                            beforeSend: function(){
                                custLoading("$_('adding user...')");
                            },
                            error: function(){
                                adduser.dialog('close');
                                $(ELT)("#loaddialog").dialog("close");
                                custAlert("$_('operfail')", "$_('Request Error')");
                            },
                            success: function(text){
                                adduser.dialog('close');
                                if(isNaN(text)){
                                    $(ELT)("#loaddialog").dialog("close");
                                    custAlert("$_('operfail')", text)
                                }else{
                                    if(parseInt(text) == 0){
                                        $(ELT)("#loaddialog").dialog("close");
                                        custAlert("$_('opersucc')", "$_('add user success')")
                                    }else{
                                        $(ELT)("#loaddialog").dialog("close");
                                        custAlert("$_('operfail')", "$_('add user failed')")
                                    }
                                }
                                get_user();
                            }
                        });
                    }
                }
            }
        });
        $(ELT)("#adduserdialog").load(url,'',function(){
            $(ELT)('#loaddialog').dialog('close');
        });
        $(ELT)("#adduserdialog").dialog("open");
    }
    function delete_user(){
        var userlist = []
        var tableObj = $(ELT)("#user_table").DataTable();
        var nodeObj = tableObj.rows().nodes();
        for(var i = 0;i < nodeObj.length;i++){
            var rowObj = $(ELT)(nodeObj[i]);
            var statusObj = rowObj.find('.oper');
            if(statusObj.prop("checked")){
                var timeObj = rowObj.find('.name');
                userlist.push(timeObj.html())
            }
        }
        var dataobj = {
            "userlist" : userlist
        };
        var data = $(ELT).param(dataobj, true)
        if(userlist.length == 0){
            custAlert("$_('operfail')", "$_('select the user you want to delete')");
            return
        }
        var url = "/deleteuser?" + new Date().getTime();
        var buttons = {
            "$_('cancel')": function(){
                $(ELT)(this).dialog("close");
            },
            "$_('confirm')": function(){
                $(ELT)(this).dialog("close");
                $(ELT).ajax({
                    url: url,
                    type: 'POST',
                    data: data,
                    dataType: 'text',
                    beforeSend: function(){
                        custLoading("$_('deleting user...')");
                    },
                    error: function(){
                        $(ELT)("#loaddialog").dialog("close");
                        custAlert("$_('operfail')", "$_('Request Error')");
                    },
                    success: function(text){
                        if(isNaN(text)){
                            $(ELT)("#loaddialog").dialog("close");
                            custAlert("$_('operfail')", text)
                        }else{
                            if(parseInt(text) == 0){
                                $(ELT)("#loaddialog").dialog("close");
                                custAlert("$_('opersucc')", "$_('delete user success')")
                                get_user()
                            }else{
                                $(ELT)("#loaddialog").dialog("close");
                                custAlert("$_('operfail')", "$_('delete user failed')")
                            }
                        }
                    }
                });
            }
        };
        custConfirm("$_('confirmoper')", "$_('confirm delete user')", buttons);
    }
</script>