$def with(content)

<nav class="navbar navbar-default-nav" style="background-color: #A6C9E2;border-radius: 5px">
    <div class="navbar-header">
        <span class="navbar-brand fa fa-user fa-lg">Logo</span>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle fa fa-cog fa-lg" data-toggle="dropdown">
                    $_('operation of user')
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="fa fa-plus fa-lg" href="javascript:add_user()">&nbsp; $_('new')</a></li>
                    <li class="divider"></li>
                    <li><a class="fa fa-trash fa-lg" href="javascript:delete_user()">&nbsp; $_('delete')</a></li>
                    <li class="divider"></li>
                    <li><a class="fa fa-refresh fa-lg" href="javascript:get_user()")>&nbsp; $_('refresh')</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<table id="user_table">
    <thead>
        <th style="width:10%"><input type="checkbox" onchange="check_all(this)"></th>
        <th style="width:20%">用户名</th>
        <th style="width:80%">邮箱</th>
    </thead>
    <tbody>
        $for info in content:
            <tr>
                <td><input type="checkbox" class="oper"></td>
                <td>$info['username']</td>
                <td>$info['mail']</td>
            </tr>
    </tbody>
</table>
<script type="text/javascript">
    $(ELT)(function(){
        $(ELT)("#user_table").DataTable({
            "bSort": true,
            "bStateSave": true,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sUrl": "/static/js/temp/datatable_ZH"
            },
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [0, 2]
            }]
        });
    });
    
    function add_user(){
        var url = "/adduser?" + new Date().getTime();
        var adduser = $(ELT)('<div id="adduserdialog" >').appendTo('body');
        adduser.dialog({
            bgiframe: true,
            modal: true,
            autoOpen:false,
            resizable:false,
            width:500,
            title:"$_('information')",
            open:function(){
                custLoading("$_('loading data ...')");
            },
            close:function(){
                $(ELT)(this).remove();
            },
            buttons:{
                "$_('cancel')": function(){
                    $(ELT)(this).remove();
                },
                "$_('create')": function() {
                    $(ELT)('#loaddialog').dialog('close');
                    $(ELT)("#add_user_form").bootstrapValidator('validate');
                    if($(ELT)("#add_user_form").data('bootstrapValidator').isValid()){
                        var dataobj = {
                            "username": $(ELT)("input[name='username']").val(),
                            "password": $(ELT)("input[name='passwd1']").val(),
                            "mail": $(ELT)("input[name='email']").val()
                        };
                        var data = $(ELT).param(dataobj, true)
                        var url = "/adduser?" + new Date().getTime();
                        $(ELT).ajax({
                            url: url,
                            type: 'POST',
                            data: data,
                            dataType: 'text',
                            beforeSend: function(){
                                custLoading("$_('adding user...')");
                            },
                            error: function(){
                                adduser.dialog('close');
                                $(ELT)("#loaddialog").dialog("close");
                                custAlert("$_('operfail')", "$_('Request Error')");
                            },
                            success: function(text){
                                adduser.dialog('close');
                                if(isNaN(text)){
                                    $(ELT)("#loaddialog").dialog("close");
                                    custAlert("$_('operfail')", text)
                                }else{
                                    if(parseInt(text) == 0){
                                        $(ELT)("#loaddialog").dialog("close");
                                        custAlert("$_('opersucc')", "$_('add user success')")
                                    }else{
                                        $(ELT)("#loaddialog").dialog("close");
                                        custAlert("$_('operfail')", "$_('add user failed')")
                                    }
                                }
                                get_user();
                            }
                        });
                    }
                }
            }
        });
        $(ELT)("#adduserdialog").load(url,'',function(){
            $(ELT)('#loaddialog').dialog('close');
        });
        $(ELT)("#adduserdialog").dialog("open");
    }
</script>