$def with(content)

<br /><br />
<div id="baseinfo" align="center">
    <div id="vitals" style="width:500px">
        <h2><span>$_('basic information')</span></h2>    
        <table class="stripMe" id="vitelsTable" cellpadding="0">        
            <tr>
                <td>$_('operating system name and version number')</td>
                <td>$content['system_name']</td>
            </tr>
            <tr>
                <td>$_('operating system version number')</td>
                <td>$content['system_version']</td>
            </tr>
            <tr>
                <td>$_('operating system digits')</td>
                <td>$content['system_sum'][0] $content['system_sum'][1]</td>
            </tr>
            <tr>
                <td>$_('type of computer')</td>
                <td>$content['computer_type']</td>
            </tr>
            <tr>
                <td>$_('the network name of the computer')</td>
                <td>$content['computer_network_name']</td>
            </tr>
            <tr>
                <td>$_('computer processor information')</td>
                <td>$content['computer_cpu_info']</td>
            </tr>
            <tr>
                <td>$_('operating system type')</td>
                <td>$content['system_type']</td>
            </tr>
            <tr>
                <td>IP</td>
                <td>$content['local_ip']</td>
            </tr>
            <tr>
                <td>$_("mac adress")</td>
                <td>$content['mac_address']</td>
            </tr>
            <tr>
                <td>$_("currentuser")</td>
                <td>$content['username']</td>
            </tr>
            <tr>
                <td>$_("user path")</td>
                <td>$content['userpath']</td>
            </tr>
        </table>
    </div>
</div>