$def with(content)

<br /><br />
<div id="baseinfo" align="center">
    <div id="vitals" style="width:500px">
        <h2><span>基础信息</span></h2>    
        <table class="stripMe" id="vitelsTable" cellpadding="0">        
            <tr>
                <td>windows版本</td>
                <td>$content['ProductName']</td>
            </tr>
            <tr>
                <td>发行版本</td>
                <td>版本 $content['ReleaseId']</td>
            </tr>
            <tr>
                <td>内核版本</td>
                <td>OS 内部版本 $content['BuildLabEx']</td>
            </tr>
            <tr>
                <td>IP地址</td>
                <td>$content['Ipaddr']</td>
            </tr>
        </table>
    </div>
</div>