$def with(content)

<div class="alert alert-info">$_("info!")</div>
<form id="modify_password_form">
    <div class="form-group">
        <label>$_("currentuser")</label>
        <span style="margin-left:10px">$content['currentuser']</span>
    </div>
    <br />
    <div class="form-group">
        <label>$_("old password")</label><span class="star">*</span>
        <i class="fa3 fa fa-lock fa-lg"></i>
        <input type="password" class="form-control" name="passwd0" placeholder="$_('please enter your original password')" style="width:200px;margin:-30px 0 0 100px;border-radius:5px;">
    </div>
    <br />
    <div class="form-group">
        <label>$_("new password")</label><span class="star">*</span>
        <i class="fa3 fa fa-lock fa-lg"></i>
        <input type="password" class="form-control" name="passwd1" placeholder="$_('please enter your new password')" style="width:200px;margin:-30px 0 0 100px;border-radius:5px;">
    </div>
    <br />
    <div class="form-group">
        <label>$_("confirm password")</label><span class="star">*</span>
        <i class="fa2 fa fa-lock fa-lg"></i>
        <input type="password" class="form-control" name="passwd2" placeholder="$_('please confirm your new password')" style="width:200px;margin:-30px 0 0 100px;border-radius:5px;">
    </div>
</form>
<script>
    $(ELT)(function(){
        $(ELT)("#modify_password_form").bootstrapValidator({
            message: "This value is not valid",
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                passwd0: {
                    validators: {
                        notEmpty: {
                            message: '<span style="margin-left:100px">$_("the password cannot be empty")</span>'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '<span style="margin-left:100px">$_("The length must be between 6 and 12")</span>'
                        },
                    }
                },
                passwd1: {
                    validators: {
                        notEmpty: {
                            message: '<span style="margin-left:100px">$_("the password cannot be empty")</span>'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '<span style="margin-left:100px">$_("The length must be between 6 and 12")</span>'
                        },
                    }
                },
                passwd2: {
                    validators: {
                        notEmpty: {
                            message: '<span style="margin-left:100px">$_("the password cannot be empty")</span>'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '<span style="margin-left:100px">$_("The length must be between 6 and 12")</span>'
                        },
                        identical: {
                            field: 'passwd1',
                            message: '<span style="margin-left:100px">$_("the passwords entered do not match")</span>'
                        }
                    }
                },
            }
        });
    });
</script>