$def with(content)

<div class="alert alert-info">信息！带*的为必填项！</div>
<form id="modify_password_form">
    <div class="form-group">
        <label>当前用户</label>
        <span style="margin-left:10px">$content['currentuser']</span>
    </div>
    <br />
    <div class="form-group">
        <label>旧密码</label><span class="star">*</span>
        <i class="fa3 fa fa-lock fa-lg"></i>
        <input type="password" class="form-control" name="passwd0" placeholder="请输密码" style="width:200px;margin:-30px 0 0 100px;border-radius:5px;">
    </div>
    <br />
    <div class="form-group">
        <label>新密码</label><span class="star">*</span>
        <i class="fa3 fa fa-lock fa-lg"></i>
        <input type="password" class="form-control" name="passwd1" placeholder="请输密码" style="width:200px;margin:-30px 0 0 100px;border-radius:5px;">
    </div>
    <br />
    <div class="form-group">
        <label>确认密码</label><span class="star">*</span>
        <i class="fa2 fa fa-lock fa-lg"></i>
        <input type="password" class="form-control" name="passwd2" placeholder="请输密码" style="width:200px;margin:-30px 0 0 100px;border-radius:5px;">
    </div>
</form>
<script>
    $(ELT)(function(){
        $(ELT)("#modify_password_form").bootstrapValidator({
            message: "This value is not valid",
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                passwd0: {
                    validators: {
                        notEmpty: {
                            message: '<span style="margin-left:100px">密码不能为空</span>'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '<span style="margin-left:100px">长度必须在6-12之间</span>'
                        },
                    }
                },
                passwd1: {
                    validators: {
                        notEmpty: {
                            message: '<span style="margin-left:100px">密码不能为空</span>'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '<span style="margin-left:100px">长度必须在6-12之间</span>'
                        },
                    }
                },
                passwd2: {
                    validators: {
                        notEmpty: {
                            message: '<span style="margin-left:100px">密码不能为空</span>'
                        },
                        stringLength: {
                            min: 6,
                            max: 12,
                            message: '<span style="margin-left:100px">长度必须在6-12之间</span>'
                        },
                        identical: {
                            field: 'passwd1',
                            message: '<span style="margin-left:100px">输入的密码不一致</span>'
                        }
                    }
                },
            }
        });
    });
</script>