$def with(content)

<br /><br />
<div id="baseinfo" align="center">
    <div id="vitals" style="width:500px">
        <h2><span>操作列表</span></h2>    
        <table class="stripMe" id="vitelsTable" cellpadding="0">        
            <tr>
                <td>播放</td>
                <td><button class="glyphicon glyphicon-play" onclick="play_music('play')"></button></td>
            </tr>
            <tr>
                <td>暂停</td>
                <td><button class="glyphicon glyphicon-pause" onclick="play_music('pause')"></button></td>
            </tr>
            <tr>
                <td>开始</td>
                <td><button class="glyphicon glyphicon-play-circle" onclick="play_music('unpause')"></button></td>
            </tr>
            <tr>
                <td>停止</td>
                <td><button class="glyphicon glyphicon-stop" onclick="play_music('stop')"></button></td>
            </tr>
        </table>
    </div>
</div>
<script>
    function play_music(flag){
        var url = "/playmusic?" + new Date().getTime();
        $(ELT).ajax({
            url : url,
            type : 'POST',
            async: false,
            data: "flag=" + flag,
            dataType : 'text',
            success:function(text){
                if(text == 0){
                    custAlert("操作成功", "播放音乐成功！");
                }else{
                    custAlert("操作失败", "播放音乐失败！");
                }
            },
            error:function(){
                custAlert("操作失败", "播放音乐失败！");
            }
        });
    }
</script>