$def with(content)

<form >
    <div class="alert alert-info oper">$_("info! enter the information to be read below")</div>
    <br />
    <textarea id="info" rows="5" cols="55" style="resize: none;" class="ui-widget-content ui-corner-all"  value="" placeholder="$_('please input what you need to read')"></textarea>
    <br /><br />
    <button type="button" class="btn btn-primary" onclick="read_word()">$_('read')</button>
    <br /><br />
</form>
<script>

    function read_word(){
        var filepath = '';
        var info = $(ELT)("#info").val();
        console.log($(ELT)("#inputfile").val())
        if(filepath == "" && info == ""){
            alert("123")
            return false;
        }
        var url = "/readbook?" + new Date().getTime();
        $(ELT).ajax({
            url : url,
            type : 'POST',
            async: false,
            data: "info=" + info + "&filepath=" + filepath,
            dataType : 'text',
            success:function(text){
                if(text == 0){
                    custAlert("$_('opersucc')", "$_('read the end')");
                }else{
                    custAlert("$_('operfail')", "$_('read failed')");
                }
            },
            error:function(){
                custAlert("$_('operfail')", "$_('read failed')");
            }
        });
    }
</script>